body {
  width: 1920px;
  height: 1080px;
  background-image: url("https://images.contentstack.io/v3/assets/bltad9188aa9a70543a/blt8e13f83318fb124d/5fd91617e53f3355047de0d4/CBLOL-REBRANDING-LOGO-STILL.png?width=3200&height=1800");
  background-size: 100%;
}

div.tabela1 {
  opacity: 0.5;
  background: rgb(207, 207, 207);
}

div.tabela2 {
  opacity: 0.5;
  background: rgb(207, 207, 207);
}

